body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 16px; // configurable
}

.is-hidden {
    display: none !important;
}

[disabled], .is-disabled {
    pointer-events: none;
}

.gob-document--resize {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4zjOaXUAAAAGZJREFUOE+ljEEOACEIA92f+f9XaQ822EUgajJJC4xtvu+BPnEXFSBff7Bk5N8yw8pgW2aojLwdRHhy+YOTjMzhiUgGDB6ZjMyiVGTAgeV0rB1wqMusL7iIjrVb0mPtypMMGC7k1geoEhcn0OEM6wAAAABJRU5ErkJggg==);
    background-position: bottom right;
    background-repeat: no-repeat;
    //box-sizing: border-box;
    background-color: rgba(0, 0, 150, 0.2);
}

.gob-chat_box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.gob-chat_toolbar {
    display: flex;
    flex-direction: row;
}

.gob-chat_tabs {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.gob-chat_tabs_bar {
    display: flex;
    flex-direction: row;
    overflow-x: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.gob-chat_tabs_bar_tab {
    min-width: auto;
}

.gob-chat_toolbar_search {
    display: flex;
    flex-direction: row;
    gap: 0.3em;
}

.gob-chat_history {
    flex: auto; //take as much space as possible
    display: flex;
    flex-direction: column;
    overflow: hidden scroll;
    padding: 0.125em;
    font-size: 16px; // configurable
    background: rgba(20, 20, 20, 0.95); // configurable
}

@keyframes subtile-blinker {
    50% {
        background: rgba(245, 160, 0, 0.25);
    }
}