@use "ffxiv_dark.scss";

:root {
    --text-1-color: #855b43;
    --text-1-shadow-color: #ffe8bf;

    --text-2-color: #674f45;
    --text-2-shadow-color: #ffe8bf;

    --page-divider-color-1: #bba38c;
    --page-divider-color-2: #d0b59c;

    --checkbox-off-texture: url("../graphics/checkbox-light.png");
    --checkbox-on-texture: url("../graphics/checkbox-checked-light.png");

    --chat-toolbar-buttons-background: linear-gradient(to bottom, #8b6e5b, #533c29 50%, #664f3b 80%, #664f3b);
}

.gob-config-dialog {
    background-image: var(--noise-texture), linear-gradient(to bottom, #fbe8cd, #efd6b2 20px, #e6cba4 50px);
}
