@use "chat-toolbar";

.gob-chat-tabbar {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.gob-chat-tabbar_content {
    display: flex;
    flex-direction: row;
    overflow-x: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.gob-chat-tabbar_button {
    @extend .gob-chat-toolbar_button;
    border-right: solid 0.03125rem var(--tabbar_indentation-shadow-color);
    box-shadow: inset 0.0625rem 0 0 0 var(--tabbar_indentation-color), inset 0 0.0625rem 0 0 var(--tabbar_indentation-color);
}

.gob-chat-tabbar_button--left {
    display:flex;
    justify-content:center;
    align-items:center;
    padding-right: 0.3125rem;
    border-radius: 50% 0 0 50%;
    box-shadow: inset 0 0.0625rem 0 0 var(--tabbar_indentation-color);
}

.gob-chat-tabbar_button--right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.3125rem;
    border-right: none;
    border-radius: 0 50% 50% 0;
}

.gob-chat-tabbar_content_tab {
    @extend .gob-chat-tabbar_button;
    --padding-sides: 0.625rem;
    --active-icon-size: 0.375rem;

    min-width: auto;
    font-weight: bold;

    &.is-active {
        padding-left: calc(var(--padding-sides) - var(--active-icon-size));
    }

    &.is-active::before {
        content: "";
        background: var(--tabbar_tab--active_base-color);
        border-radius: 50%;
        width: var(--active-icon-size);
        height: var(--active-icon-size);
        position: relative;
        left: -0.125rem;
        top: -0.5rem;
        display: inline-block;
        box-shadow: 0 0 0.25rem 0.0625rem var(--tabbar_tab--active_blur-color);
    }
}

.gob-chat-tabbar_content_tab--mention-1,
.gob-chat-tabbar_content_tab--new-message-1 {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        background: var(--tabbar_tab--effect_overlay_color);
    }
}

.gob-chat-tabbar_content_tab--mention-2,
.gob-chat-tabbar_content_tab--new-message-2 {
    animation: subtile-blinker 2s linear infinite;
}

.gob-chat-tabbar_content_tab--mention-3,
.gob-chat-tabbar_content_tab--new-message-3 {
    color: var(--tabbar_tab--effect_highlight_color);
}

@keyframes subtile-blinker {
    50% {
        background: var(--tabbar_tab--effect_blink_color);
    }
}