.gob-config-divider {
    --blur-strengh: calc(2/16 * 1rem);
    --blur-spread: calc(-1/48 * 1rem);
    --thickness: calc(1/16 * 1rem);
    flex-shrink: 0; // or min/max height/width
}

.gob-config-divider--horizontal {
    margin: calc(5/16 * 1rem) calc(10/16 * 1rem);
    height: var(--thickness);
    background-color: var(--page-divider-color-1);
    box-shadow: 0 calc(1/16 * 1rem) var(--blur-strengh) var(--blur-spread) var(--page-divider-color-2);
}

.gob-config-divider--vertical {
    margin: calc(1/16 * 1rem) calc(5/16 * 1rem);
    width: var(--thickness);
    background-color: var(--page-divider-color-1);
    box-shadow: calc(1/16 * 1rem) 0 var(--blur-strengh) var(--blur-spread) var(--page-divider-color-2);
    // border-right: #{div(1em, 32)} solid var(--page-divider-color-1);
    // box-shadow: #{div(1em, 32) 0 div(1.5em, 16) div(-0.3em, 16)} var(--page-divider-color-2);
}
