@use "config-divider";

.gob-config-dialog {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height:100%;
    padding: 0.1rem;
    color: var(--text-1_color);
    text-shadow: var(--text-1_shadow);
    background: var(--dialog_background);
}

.gob-config-dialog_header {
    font-size: 1.5em;
    margin: 0.15rem 0 -0.3rem 1rem;
    color: var(--text-2_color);
    text-shadow: var(--text-2_shadow);
}

.gob-config-dialog_panel {
    display: flex;
    flex-direction: row;
    overflow: auto;
    height: 100%;
    & > .gob-config-divider {
        @extend .gob-config-divider--vertical;
    }
}