@use "input";
@use "grid";

.gob-config-page {
    //columns: auto 40em;
    gap: 1rem;
    column-rule: thin solid var(--page-divider-color-1);
}

.gob-config-text {
    &.is-error {
        font-weight: bold;
        color: var(--text-error-color);
    }

    &.is-disabled {
        color: var(--text-1-color-disabled);
    }
}

.gob-config-label {
    @extend .gob-config-text;
}

.gob-config-group {
    break-inside: avoid;

    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    color: var(--text-1-color);
    text-shadow: var(--text-1-shadow);
    margin: calc(13rem / 16) 0 calc(13rem / 16) calc(5rem / 16);
}

.gob-config-sub-group {
    break-inside: avoid;

    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    margin-left: calc(1.5 * var(--checkbox-size));
}

.gob-config-group_title {
    font-size: 1.125em;
    color: var(--text-2-color);
    text-shadow: var(--text-2-shadow);
}

.gob-config-group_entry {
    margin-left: 0.5rem;
}

.gob-config-group_item {
    @extend .gob-config-group_entry;

    break-inside: avoid;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
}

@mixin gob-config-group_small-columns($columns) {
    @extend .gob-grid-small-#{$columns};
    @extend .gob-config-group_entry;
}

.gob-config-group_item-2-small-columns {
    @include gob-config-group_small-columns(2);
}

.gob-config-group_item-3-small-columns {
    @include gob-config-group_small-columns(3);
}

.gob-config-group_item-4-small-columns {
    @include gob-config-group_small-columns(4);
}

.gob-config-group_item-5-small-columns {
    @include gob-config-group_small-columns(5);
}

.gob-config-group_item-6-small-columns {
    @include gob-config-group_small-columns(6);
}

.gob-config-group_item_checkbox {
    // deprecated
    @extend .gob-input-checkbox;
}

.gob-config-group_item_dropdown {
    // deprecated
    @extend .gob-input-dropdown;
}

.gob-config-group_item_numberbox {
    // deprecated
    @extend .gob-input-number;
}

.gob-config-group_item_textbox {
    // deprecated
    @extend .gob-input-text;
}

.gob-config-group_item_textarea {
    // deprecated
    @extend .gob-input-textarea;
}
