.gob-input-field {
    background: var(--input-fields-background);
    border: var(--input-fields-border);
    color: var(--input-fields-color);
    padding: 0.06rem 0.12rem;
}

.gob-input-checkbox {
    cursor: pointer;
    font-size: 1em;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    appearance: none;
    background-repeat: no-repeat;
    background-size: contain;
    margin: unset;
    padding: unset;
    border: unset;
    // outline: none;
    background-image: var(--checkbox-off-texture);

    &:checked {
        background-image: var(--checkbox-on-texture);
    }

    :disabled {
    }
}

.gob-input-dropdown {
    @extend .gob-input-field;

    cursor: pointer;
    font-size: 0.85em;
    padding: 0 0.5rem;
    font-weight: bold;
    box-sizing: border-box;

    :disabled {
    }
}

.gob-input-text {
    @extend .gob-input-field;

    cursor: text;
    font-size: 0.8em;
    font-weight: bold;
    box-sizing: border-box;

    :disabled {
    }
}

.gob-input-textarea {
    @extend .gob-input-field;

    cursor: text;
    font-size: 0.8em;
    font-weight: bold;
    box-sizing: border-box;
    width: max(200px, 50%);

    :disabled {
    }
}

.gob-input-textarea--wide{
    width: auto;
}

.gob-input-number {
    @extend .gob-input-field;
    cursor: text;
    font-size: 0.8em;
    padding-left: 0.5rem;
    font-weight: bold;
    box-sizing: border-box;
    width: 8rem;

    :disabled {
    }
}

.gob-input-rangeslider {
    cursor: pointer;
    font-size: 0.8em;
    appearance: none;
    outline: none;
    background-color: transparent;
    width: 12rem;

    &::-webkit-slider-runnable-track {
        appearance: none;
        border-radius: 1rem;
        height: 0.5rem;
        background: var(--slider-track-color);
        border-top: var(--slider-track-border);
        border-bottom: var(--slider-track-border);
    }

    &::-webkit-slider-thumb {
        appearance: none;
        margin-top: -0.30rem;
        width: 0.9rem;
        height: 0.9rem;
        border-radius: 1rem;
        cursor: ew-resize;
        border: var(--slider-thumb-border);
        background: var(--slider-thumb-color);
    }

    :disabled {
    }
}
