.gob-input-checkbox {
    cursor: pointer;
    font-size: 1em;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    appearance: none;
    background-repeat: no-repeat;
    background-size: contain;
    margin: unset;
    padding: unset;
    border: unset;

    // outline: none;
    background-image: var(--checkbox-off-texture);

    &:checked {
        background-image: var(--checkbox-on-texture);
    }

    :disabled {
    }
}

.gob-input-dropdown {
    font-size: 0.85em;
    padding: 0 0.4em;
    font-weight: bold;
    box-sizing: border-box;

    :disabled {
    }
}

.gob-input-text {
    font-size: 0.8em;
    font-weight: bold;
    box-sizing: border-box;

    :disabled {
    }
}

.gob-input-textarea {
    font-size: 0.8em;
    font-weight: bold;
    box-sizing: border-box;
    width: max(200px, 50%);

    :disabled {
    }
}

.gob-input-number {
    font-size: 0.8em;
    padding-left: 0.4em;
    font-weight: bold;
    box-sizing: border-box;
    width: 8em;

    :disabled {
    }
}

.gob-input-rangeslider {
    font-size: 0.8em;
    appearance: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;

    &::-webkit-slider-runnable-track {
        appearance: none;
        border-radius: 25px;
        height: 8px;

        color: #e1e0e4;
        background-color: #94be10;
        border-top: 2px solid #212021;
        border-bottom: 2px solid #212021;
    }

    &::-webkit-slider-thumb {
        appearance: none;
        margin-top: -5px;
        width: 14px;
        height: 14px;
        border-radius: 50px;
        cursor: ew-resize;

        border: 1px solid #484848;
        background: radial-gradient(circle at center, #e1e0e4, #ababab);
    }

    :disabled {
    }
}
