.gob-chat {
    ::-webkit-scrollbar {
        font-size: var(--gob-font-size-chat-ui);
    }
}

.gob-config-dialog {
    ::-webkit-scrollbar {
        font-size: var(--gob-font-size-config);
    }
}


::-webkit-scrollbar {
    //font-size: var(--gob-font-size-scrollbar);
    width: 0.75rem;
}

::-webkit-scrollbar-button {
    height: 0.25rem;
}

::-webkit-scrollbar-thumb {
    background: var(--page-scrollbar-thumb);
    border: 0.0626rem inset var(--page-scrollbar-thumb-border);

    &:hover {
        background: var(--page-scrollbar-thumb);
    }

    &:active {
        background: var(--page-scrollbar-thumb);
    }
}

::-webkit-scrollbar-track {
    background: var(--page-scrollbar-track);
    border: 0.25rem solid var(--page-scrollbar-track-border);

    &:hover {
        background: var(--page-scrollbar-track);
    }

    &:active {
        background: var(--page-scrollbar-track-active);
    }
}

::-webkit-scrollbar-corner {
    background: transparent;
}
