.gob-table-container {
}

.gob-table-container--split-on-20em {
    columns: auto 20rem;
    gap: 1rem;
    column-rule: thin solid var(--page-divider-color-1);
}

.gob-table-container--split-on-30em {
    columns: auto 30rem;
    gap: 1rem;
    column-rule: thin solid var(--page-divider-color-1);
}

.gob-table-container--split-on-40em {
    columns: auto 40rem;
    gap: 1rem;
    column-rule: thin solid var(--page-divider-color-1);
}

.gob-table {
    border-collapse: separate;
    border-spacing: 0 0.1rem;
    white-space: nowrap;
    text-align: left;
    width: max-content;
    height: fit-content;

    & > thead {
        break-inside: avoid;
        color: var(--table_header_text-color);
        text-shadow: var(--table_header_text-shadow);

        & > tr {
            & > th {
                text-align: center;
                padding: 0 0.5rem;
            }
        }
    }

    & > tbody > tr {
        & > td {
            padding: 0 0.5rem;
        }

        &.is-active {
            background: var(--table--active_background);
        }
    }
}

.gob-table--strips-horizontal {
    & > thead > tr:nth-child(even),
    & > tbody > tr:nth-child(even) {
        background: var(--table--stripped_background);
    }
}

.gob-table--strips-vertical {
    & > thead > tr > th:nth-child(even),
    & > tbody > tr > td:nth-child(even) {
        background: var(--table--stripped_background);
    }
}

.gob-table--hoverable {
    & > tbody > tr:hover:not(.is-active) {
        background: var(--table--hover_background);
    }
}

.gob-table--header--centered {
    & > thead > tr > th {
        text-align: center;
    }
}

.gob-table--header--left {
    & > thead > tr > th {
        text-align: left;
    }
}

.gob-table--header--right {
    & > thead > tr > th {
        text-align: right;
    }
}

.gob-table--column--centered {
    & > tbody > tr > td {
        text-align: center;
    }
}

.gob-table--column--left {
    & > tbody > tr > td {
        text-align: left;
    }
}

.gob-table--column--right {
    & > tbody > tr > td {
        text-align: right;
    }
}

@mixin body_checkbox_rule($col) {
    .gob-table--checkbox-#{$col} {
        & > tbody > tr > td:nth-child(#{$col}) {
            text-align: center;
            padding-left: var(--input-checkbox_size);
            padding-right: var(--input-checkbox_size);
        }
    }
}

@mixin table_alignment_rule($col, $align) {
    .gob-table--header-#{$col}--#{$align} {
        & > thead > tr > th:nth-child(#{$col}) {
            text-align: #{$align};
        }
    }

    .gob-table--column-#{$col}--#{$align} {
        & > tbody > tr > td:nth-child(#{$col}) {
            text-align: #{$align};
        }
    }
}

@mixin table_rules($max_columns) {
    @for $i from 1 to $max_columns + 1 {
        @include body_checkbox_rule($i);
        @include table_alignment_rule($i, left);
        @include table_alignment_rule($i, center);
        @include table_alignment_rule($i, right);
    }
}

@include table_rules(8);

.gob-table-wrapper--split-in-2 {
    columns: 2;
    gap: 1rem;
    width: fit-content;
    column-rule: thin solid var(--page-divider-color-1);
}

.gob-table--default {
    @extend .gob-table;
    @extend .gob-table--header--centered;
    @extend .gob-table--column--centered;
    @extend .gob-table--header-1--left;
    @extend .gob-table--column-1--left;
    @extend .gob-table--hoverable;
}

.gob-table--confirm {
    @extend .gob-table--default;
    @extend .gob-table--strips-horizontal;
    @extend .gob-table--checkbox-2;
}