::-webkit-scrollbar {
    font-size: var(--gob-general-font-size);
    width: 0.75em;
}

::-webkit-scrollbar-button {
    height: 0.25em;
}

::-webkit-scrollbar-thumb {
    background: var(--page-scrollbar-thumb);
    border: 0.0626em inset var(--page-scrollbar-thumb-border);

    &:hover {
        background: var(--page-scrollbar-thumb);
    }

    &:active {
        background: var(--page-scrollbar-thumb);
    }
}

::-webkit-scrollbar-track {
    background: var(--page-scrollbar-track);
    border: 0.25em solid var(--page-scrollbar-track-border);

    &:hover {
        background: var(--page-scrollbar-track);
    }

    &:active {
        background: var(--page-scrollbar-track-active);
    }
}

::-webkit-scrollbar-corner {
    background: transparent;
}
