@use "../table";
@use "../input";

.gob-config_cp-tabs_channel-table-wrapper {
    columns: 2 15em;
    gap: 1em;
    width: fit-content;
}

.gob-config_cp-tabs_channel-table-wrapper_table{
    @extend .gob-table;
    @extend .gob-table--strips-horizontal;
    @extend .gob-table--hoverable;
    @extend .gob-table--checkbox-2;
}